# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    
- List languages commonly used in Data Science
- List Libraries commonly used in Data Science
- List common Data Science Tools
- Practice basic arithmetic using Python

## Author
Rainer Berger

Some of the popular languages that Data Scientists use are:

1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. matplotlib
3. scikit-learn

| Data Science Tools |
| ------------------ |
| GitHub             |
| RStudio            |
| Apache Airflow     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335